.page {
  opacity: 0.8;
  background-color: #1c1c1c;
}
.text{
  color: #fff;
  text-align: center;
}
.section{
  margin: 5%;
}
.qrcode{
  border-radius: 25;
}
.closebtn{
  color: #fff;
  font-size: 20em;
  margin-bottom:90vh;
}