.previewInfoContainer {
  margin: 6%;
}

.previewTextContainer {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  padding:16em;
}

.workInfoPreview {
  color:rgb(153,153,153);
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
}

.previewTextInfo{
  font-weight: 300;
}

.previewtOptions{
  background-color:#58c1b4;
  height:100px;
  width: 100%;
  align-items: center;
  margin-top: -10%;
}

.cardPreview{
  margin: 12em 5em 12em 15em;
}

.option{
  padding: 10em;
}

