<StackLayout
  (touch)="onTouch($event)"
  orientation="horizontal"
  class="previewInfoContainer"
>
  <Image
    *ngIf="contact.cardImage"
    height="50"
    width="75"
    [src]="contact.cardImage | createSource"
    stretch="aspectFill"
    class="cardPreview"
  >
  </Image>
  <StackLayout class="previewTextContainer" orientation="vertical">
    <Label class="previewTextInfo" [text]="contact.name.displayname"></Label>
    <Label
      [text]="contact.organization.jobTitle | toUpperCase"
      class="workInfoPreview"
    ></Label>
  </StackLayout>
</StackLayout>

<ng-container *ngIf="type === 'contact'">
  <FlexboxLayout
    flexDirection="row"
    id="{{ 'previewtOptions' + index }}"
    class="previewtOptions"
    [visibility]="showPreviewOptions ? 'visible' : 'collapse'"
  >
    <Image
      src="res://icons/button_phone"
      horizontalAlignment="left"
      (tap)="callNumber()"
      stretch="none"
    ></Image>
    <Image
      src="res://icons/button_share"
      horizontalAlignment="center"
      (tap)="shareCard()"
      stretch="none"
    ></Image>
    <Image
      src="res://icons/button_delete"
      horizontalAlignment="right"
      (tap)="removeContact()"
      stretch="none"
    ></Image>
  </FlexboxLayout>
</ng-container>
