<StackLayout class="signInContainer">
  <Label class="label" text="EMAIL"></Label>
  <TextField
      class="inputElements"
      keyboardType="email"
      [(ngModel)]="email"
      autocorrect="false"
      autocapitalizationType="none"
      style="color:white;">
  </TextField>
  <Label class="label" text="PASSWORD"></Label>
  <TextField
      class="inputElements"
      secure="true"
      [(ngModel)]="password"
      autocorrect="false"
      autocapitalizationType="none"
      style="color:white;">
  </TextField>
  <StackLayout class="singiInButtons">
    <Button class="signInSignUp" text="SIGN IN" (tap)="signIn()"></Button>
    <GridLayout rows='*' columns='*,*' class="options">
      <Button text="FORGOT PASSWORD" (tap)="forgotPassword()" row=0 col=0></Button>
      <Button text="CANCEL" (tap)="cancel()" row=0 col=1></Button>
    </GridLayout>
  </StackLayout>
</StackLayout>
