.signInContainer{margin-top:25%}.singiInButtons{margin-top:5%}.signInSignUp{margin-bottom:4%}.label{color:white;opacity:0.7;font-size:13px;letter-spacing:0.2px;margin:0 7%}TextField{border-width:0 0 1 0;border-bottom-color:#ededed;margin-bottom:2%;height:10%;font-size:17px;font-weight:300;margin:0 7% 2% 7%}.options{color:white;font-size:13px;margin-top:7%;margin-left:7%;height:10px}
