.sidedrawer.sidedrawer-left .sidedrawer-header-image{color:#F8F8F8;height:60;width:60;font-size:60;padding:0;margin-bottom:5;margin-top:20}.sidedrawer .sidedrawer-header{background-color:#3A53FF}.sidedrawer .sidedrawer-header .sidedrawer-header-brand{color:#fff}.sidedrawer .background-img{background-image:url("res://bg");background-repeat:no-repeat;background-position:center;background-size:cover}.sidedrawer .signOut{padding-left:15}.sidedrawer .signOut Label{vertical-align:center;color:#022734}.sidedrawer .signOut .fa{width:20;margin-right:10}
