<StackLayout class="sidedrawer sidedrawer-left background-img" style="height:100%;">
        <StackLayout orientation="horizontal">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" [text]="user.fullName"></Label>
        </StackLayout>
    
        <ScrollView >
            <StackLayout>
                <MyDrawerItem title="Home" route="/home" [isSelected]="isPageSelected('Home')">
                </MyDrawerItem>
                <MyDrawerItem title="Me" route="/myprofile" [isSelected]="isPageSelected('Profile')">
                </MyDrawerItem>
                <MyDrawerItem title="My contacts" route="/contacts" [isSelected]="isPageSelected('Contacts')">
                </MyDrawerItem>    
                <MyDrawerItem title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')">
                </MyDrawerItem>
                <MyDrawerItem title="Sign Out" route="/login" icon="&#xf2f5;" (tap)=signOut()>
                </MyDrawerItem>
            </StackLayout>
        </ScrollView>
    </StackLayout>