<StackLayout class="background-img">
  <Image
    class="toc-back-button"
    src="res://navigation/back_arrow_white"
    stretch="none"
    width="30"
    height="40"
    (tap)="back()"
  ></Image>
  <Image
    class="logo"
    src="res://icons/logo"
    stretch="none"
    width="100"
    height="90"
  ></Image>
  <StackLayout class="toc-box">
    <TextView class="toc-text" loaded="onTextViewLoaded" [text]="text.content" [editable]="false"></TextView>
  </StackLayout>
</StackLayout>
