.top-bar {
  margin-top: 0%;
  height: 100px;
  width: 100%;
}
.brand-name {
  color: white;
  font-size: 27px;
  font-weight: 500;
  width: 50%;
  font-family: "Montserrat"; 
}
.menu-button {
 width: 20%;
 margin: 5%;
 margin-top: 35px;
 color: white;
 filter: invert(100%);
}

GridLayout {
  height: 70%;
}

.fa {
  color: white;
}

.content-box{
  height: 40%;
  width: 100%;
  color:rgb(144,144,144);
  text-align: center;
  background-color: white;
  margin-top: -10%;
  padding: 50% 60% 10% 60%;
  line-height: 3%;
  font-weight: 100;
  font-size: 28;
}

.home-options-text{
  color: white;
  font-size: 13px;
  horizontal-align:center;
  opacity: 0.5;
  margin-top: 20px;
}

.buttons-container {
  margin-top:7%;
  padding: 10%;
}
.scan_button {
  horizontal-align:center;
}