<RadSideDrawer
  #drawer
  showOverNavigation="true"
  [drawerTransition]="sideDrawerTransition"
>
  <StackLayout tkDrawerContent>
    <MyDrawer [selectedPage]="'Home'"></MyDrawer>
  </StackLayout>
  <StackLayout class="page page-content" tkMainContent>
    <StackLayout class="background-img">
      <StackLayout class="top-bar" orientation="horizontal">
        <Image
          class="menu-button"
          src="res://navigation/button_menu"
          stretch="none"
          (tap)="onDrawerButtonTap()"
        ></Image>
        <Label class="brand-name" text="ReCarding"></Label>
      </StackLayout>

      <GridLayout rows="*,*" columns="*,*,*" class="buttons-container">
        <StackLayout row="0" col="0" (tap)="navigate('myprofile')">
          <Label class="page-icon fa top" text="&#xf2bb;"></Label>
          <Label class="home-options-text" text="MY CARDS"></Label>
        </StackLayout>
        <StackLayout row="0" col="2" (tap)="navigate('contacts')">
          <Label class="page-icon fa top" text="&#xf0c0;"></Label>
          <Label class="home-options-text" text="MY CONTACTS"></Label>
        </StackLayout>
        <StackLayout (tap)="navigate('newcard/contact')" row="1" col="1">
          <Image
            src="res://icons/button_scan"
            class="scan_button"
            stretch="none"
          ></Image>
          <Label class="home-options-text" text="SCAN"></Label>
        </StackLayout>
      </GridLayout>

      <StackLayout class="content-box">
        <Label text="Browse your list of contacts"></Label>
        <Label text="categorized in alphabetical order"></Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</RadSideDrawer>
