<ActionBar>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- <ActionItem icon="res://navigation/button_menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> -->
</ActionBar>
<RadSideDrawer #drawer [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>

      <ng-container *ngIf="importMethod === 'import'" >
        <ImportCard 
          (cancel)="cancel"
          [isPersonalProfile]="isPersonalProfile"
          (imagePath)="saveImagePath($event)"
          (imageSeleced)="imageUploaded($event)">
        </ImportCard>
      </ng-container>
      <ng-container *ngIf="importMethod === 'scan'">
        <ScanCard 
          (cancel)="cancel"
          [isPersonalProfile]="isPersonalProfile"
          (imagePath)="saveImagePath($event)"
          (base64Img) = "base64Img($event)" 
          (imageSrc) = "recognizeTextCloud($event)"> 
        </ScanCard>
      </ng-container>
      <ng-container *ngIf="importMethod === 'qr'">
          <ScanQR (scannedQR)=scannedQR($event)></ScanQR>
      </ng-container>
        
      
      <StackLayout class="page page-content" tkMainContent>
      <StackLayout class="background-img">
        <Label *ngIf="!!contact_group" text="{{freshContact.group}}"></Label>
        <Image class="imageCss" [src]="pickedImage" stretch="aspectFill" rotate=1></Image>
      </StackLayout> 
        <TextField hint="Full name" [(ngModel)]="freshContact.name.displayname" autocorrect="false" autocapitalizationType="sentences"></TextField>
        <TextField hint="Organization" [(ngModel)]="freshContact.organization.name" autocorrect="false" autocapitalizationType="sentences"></TextField>
        <TextField hint="Profession" [(ngModel)]="freshContact.organization.jobTitle" autocorrect="false" autocapitalizationType="sentences"></TextField>
        <TextField hint="Phone" [(ngModel)]="freshContact.phoneNumbers[0]" autocorrect="false" autocapitalizationType="sentences"></TextField>
        <TextField hint="Email" [(ngModel)]="freshContact.emailAddress" autocorrect="false" keyboardType="email" autocapitalizationType="none"></TextField>
        <TextField hint="Website" [(ngModel)]="freshContact.urls[0]" autocorrect="false" autocapitalizationType="none"></TextField>
        <TextField 
          *ngIf="(freshContact.group && freshContact.group !== 'Cancel')"
          hint="Group"
          [(ngModel)]="freshContact.group"
          autocorrect="false"
          autocapitalizationType="sentences">
        </TextField>
        <Button class="btn btn-outline" text="Add to group" (tap)="chooseGroup()"></Button>
      <GridLayout class="buttons-container background-img" rows='*' columns='*,*' >
        <Button class="btn btn-outline buttons" text="save" (tap)="submit()" row='0' col='0'></Button>
        <Button class="btn btn-outline buttons" text="cancel" (tap)="cancel()" row='0' col='1'></Button>
      </GridLayout>
    </StackLayout>
</RadSideDrawer>