.action-bar{background-color:white;color:#000;font-size:12;font-weight:600;letter-spacing:0.2}.lv{border-color:#00c4b4;border-width:5 0 0 0;width:100%;height:100%}.title{position:fixed;color:#1fbfb4;horizontal-align:center}.info{color:#bbb;horizontal-align:center}.float-menu-layout{margin-top:85%;width:100%}
