<ActionBar class="action-bar">
  <ActionItem
    icon="res://navigation/back_arrow"
    android:visibility="collapsed"
    (tap)="back()"
    ios.position="left"
    class="action-buttons"
  >
  </ActionItem>
  <ActionItem class="title">
    <StackLayout>
      <Label text="MY CARDS"></Label>
      <StackLayout class="info" orientation="horizontal">
        <Label [text]="myprofiles.length"></Label>
        <Label text=" results"></Label>
      </StackLayout>
    </StackLayout>
  </ActionItem>
  <ActionItem
    icon="res://icons/button_search"
    android:visibility="collapsed"
    (tap)="showSearchField()"
    ios.position="right"
    class="action-buttons"
  >
  </ActionItem>
</ActionBar>

<RadSideDrawer
  #drawer
  showOverNavigation="true"
  [drawerTransition]="sideDrawerTransition"
>
  <StackLayout tkDrawerContent>
    <MyDrawer [selectedPage]="'My contacts'"></MyDrawer>
  </StackLayout>

  <AbsoluteLayout tkMainContent>
    <ListView [items]="myprofiles" class="lv">
      <ng-template let-profile="item" let-i="index">
        <StackLayout>
          <Contact-Preview
            [contact]="profile"
            [index]="i"
            [type]="type"
          ></Contact-Preview>
        </StackLayout>
      </ng-template>
    </ListView>

    <StackLayout class="float-menu-layout" height="900" bottom="0">
      <float-menu
        (newPressed)="addNew()"
        (sortAlpha)="sortAlpha()"
        (sortDate)="sortDate()"
      >
      </float-menu>
    </StackLayout>
  </AbsoluteLayout>
</RadSideDrawer>
