.action-bar {
  background-color: white;
  color: rgb(0,0,0);
  font-size: 12;
  font-weight: 600;
  letter-spacing: 0.2;
}

.lv {
  border-color: rgb(0,196,180);
  border-width: 5 0 0 0;
  width: 100%;
  height: 100%;
}

.title {
  position: fixed;
  color: rgb(31, 191, 180);
  horizontal-align:center;
}

.info {
  color: rgb(187,187,187);
  horizontal-align:center;
}

.float-menu-layout {
  margin-top: 85%;
  width: 100%;
}