.bottom-actions {
  height: 10%;
  background-color: white;
  padding: 0;
}

.add-button {
  horizontal-align:center;
  margin-top: -35%;
  z-index: 2;
}

.sort-options {
  width: 100%;
  border-color: #f2f2f2;
  border-width: 1 0 0 0;
  margin-top:-63%;
  z-index: 1;

  Label {
    width: 50%;
    text-align: center;
    color: rgb(142, 142, 142);
    height: 300px;
  }
  .underline {
    border-color: rgb(0,196,180);
    border-width: 0 0 5 0;
  }
}
