.bottom-actions{height:10%;background-color:white;padding:0}.add-button{horizontal-align:center;margin-top:-35%;z-index:2}.sort-options{width:100%;border-color:#f2f2f2;border-width:1 0 0 0;margin-top:-63%;z-index:1}.sort-options Label{width:50%;text-align:center;color:#8e8e8e;height:300px}.sort-options .underline{border-color:#00c4b4;border-width:0 0 5 0}
