
    <StackLayout class="bottom-actions">
        <Image class="add-button" src="res://icons/button_add" stretch="none" (tap)="emitNew()"></Image>
        <StackLayout class="sort-options" orientation="horizontal">
          <Label [ngClass]="alpha ? 'underline': null" text="A-Z" (tap)="sortBy('alpha')"></Label>
          <Label [ngClass]="alpha ? 'null': 'underline'" text="DATE" (tap)="sortBy('date')"></Label>
        </StackLayout>
      </StackLayout>
