.text{color:#fff;text-align:center}.section{margin:5%}.qrcode{border-radius:25;height:200px;width:200px}.closebtn{color:#fff;font-size:8.5em}.fetchedUsersStyle{padding:5px;width:80%;color:#fff;text-align:left}.signupButton{margin-top:70%;background-color:white;color:#31c6a4;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:24;text-align:center;width:25%;height:70px;margin-left:70%}
