<StackLayout class="page background-img" style="padding:10%;">
  <Label
    class="page-icon fa top topright closebtn"
    text="X"
    (tap)="close('')"
    horizontalAlignment="right"
    style="margin-bottom:90vh;font-size: 30em;"
  >
  </Label>

  <StackLayout *ngIf="modal_state === 0">
    <StackLayout class="section">
      <Image class="swipe-img" src="res://icons/button_swipe" stretch="none"></Image>
      <Label
        class="text"
        text="SWIPE TO EXCHANGE"
        (tap)="sendNearBy()"
      ></Label>
    </StackLayout>
    <!-- <StackLayout class="section">
      <Image class="qrcode" [src]="qrCode" width="250" height="250"></Image>
    </StackLayout> -->
  </StackLayout>

  <StackLayout *ngIf="modal_state === 1">
    <Label class="text" text="Fetching users..."></Label>
  </StackLayout>
  <StackLayout *ngIf="modal_state === 2">
    <ng-container
      *ngFor="let user of fetchedUsers; let i = index"
      style="margin-bottom: 4%;"
    >
      <target-user-item
        [user]="user"
        [index]="i"
        (selected)="toggleSelectUser($event)"
      >
      </target-user-item>
    </ng-container>
    <Label
      class="signupButton"
      text="Share"
      (tap)="sendCardToTargets()"
    ></Label>
  </StackLayout>
  <StackLayout *ngIf="modal_state === 3">
    <Label class="section" text="No nearby users found"></Label>
  </StackLayout>
</StackLayout>
