<StackLayout class="page page-content">
    <Image *ngIf="contact.cardImage" class="imageCss"  [src]="contact.cardImage | createSource" stretch="aspectFill" id="card"></Image>
    <TextField [(ngModel)]="contact.name.displayname" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField text="{{contact.organization.jobTitle}}" [(ngModel)]="contact.organization.jobTitle" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField text="{{contact.phoneNumbers}}" [(ngModel)]="contact.phoneNumbers" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField text="{{contact.emailAddress}}" keyboardType="email" [(ngModel)]="contact.emailAddress" autocorrect="false" autocapitalizationType="none"></TextField>
    <Button class="btn btn-outline" text="save" (tap)="updateCard()"></Button>
    <Button class="btn btn-outline" text="cancel" (tap)="cancel()"></Button>
</StackLayout>

