// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
 }
 // Common page class
 .page-content {
     .page-placeholder {
         color: $page-icon-color;
         font-size: $page-content-placeholder-font-size;
         vertical-align: center;
         horizontal-align: center;
     }

     .page-icon {
         font-size: 72;
         vertical-align: top;
         horizontal-align: center;
         color: $page-icon-color;
         margin-top: 20%;
     }
 }

 .action-bar-title {
     horizontal-align: center;
 }

 .background-img {
     background-image: url("res://bg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .imageCss{
     width: 270;
     height: 170;
 }

.signInSignUp {
   background-color:white;
   color:rgb(0,152,140);
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size:22px;
   letter-spacing: 0.2px;
   width:82%;
   height:120px;
   font-weight: 400;
 }

 .bottomMenuContainer{
   margin-top: 90%;
   margin-left: 80%;
 }