<StackLayout class="background-img">
  <Image class="logo" src="res://icons/logo" stretch="none"  width="100" height="90"></Image>
  <ng-container *ngIf="default">
    <StackLayout class="credentialInputs">
      <Button text="SIGN IN" class="signInSignUp" (tap)="showSignIn()"></Button>
      <Label class="signInText" text="OR SIGN IN WITH"></Label>
    </StackLayout>
    <GridLayout rows="*" columns="*">
      <Image
        class="social"
        src="res://icons/social_fb"
        (tap)="facebookLogin()"
        stretch="none"
        row="0"
        col="0"
      ></Image>
    </GridLayout>
    <StackLayout class="signUp">
      <Label class="signupText" text="NEW USER?"></Label>
      <Label class="signupButton" text="SIGN UP" (tap)="showSignUp()"></Label>
    </StackLayout>
  </ng-container>
  <ng-container *ngIf="signUp">
    <SignUp (cancelSignUp)="showDefault()"></SignUp>
  </ng-container>

  <ng-container *ngIf="signIn">
    <SignIn (cancelSignUp)="showDefault()"></SignIn>
  </ng-container>
</StackLayout>
