GridLayout {
  margin:-10% 10% 0 10%;
  text-align:center
}

StackLayout {
  margin-top:-10%
}

TextField {
  margin:10;
  padding:10;
  color:#fff
}
 Image {
  horizontal-align:center 
 }

.logo{
  margin-top:17%;
  horizontal-align:center
}

.credentialInputs {
  margin-top:10%
}

.signInTextWhiteBorder {
  color: wheat;
  border-top: 1px solid white;
}
.signInText {
  horizontal-align:center;
  color:#fff;
  margin-top:17%;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1;
}
.signUp {
  horizontal-align:center;
  color:#fff;
  margin-top:-20%;
  font-weight: 500;
}
.signupText {
  horizontal-align:center;
  font-size:11px;
  font-weight: 500;
  letter-spacing: 0.2;
  margin-bottom: 4%;
}
.signupButton {
  horizontal-align:center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2;
}
.social {
  margin-top: -24%;
  height: 140px;
}