.top-actions{
  position: absolute;
  top: 0;
  height: 4%;
  width: 100vw;
  padding-bottom: 4%;
}

.group-rubrik {
  color: white;
  horizontal-align: center;
  font-size: 14px;
}

.image-container {
  padding: 50px;
  height: 37%;
  background-image: url("res://bg");
  background-repeat: no-repeat;
  background-position: center;
}
.title-container {
  border: 1px solid grey;
  border-width: 0 0 1px 0;
  border-color: #12c6b7;
  margin-bottom: 5%;
}
.navigate {
  top: 5%;
  left: 5%;
  background-image: url("res://navigation/back_arrow_white");
  background-repeat: no-repeat;
}
.info-box {
  margin: 4% 4% 4% 0%;
}
.info-container {
  margin: 4% 8% 0% 8%;
  .main-text {
    font-size: 24px;
    font-weight: 300;
  }
  .secondary-text {
    font-size: 17px;
    color: #999;
    font-weight: 300;
  }
}
.bottom-menu{
  // margin-top: 45%;
  horizontal-align: center;
  Button {
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: white;
    color: rgb(174, 174, 174);
    width:34%;
  }
}