<RadSideDrawer
  #drawer
  showOverNavigation="true"
  [drawerTransition]="sideDrawerTransition"
>
  <StackLayout tkDrawerContent>
    <MyDrawer [selectedPage]="'Browse'"></MyDrawer>
  </StackLayout>

  <GridLayout rows="*,60" tkMainContent>
    <ScrollView row="0">
      <StackLayout>
        <StackLayout class="image-container">
          <StackLayout class="top-actions" orientation="horizontal">
            <Image src="res://navigation/back_arrow_white" (tap)="back()" width="40" height="35"></Image>
            <Label
              class="group-rubrik"
              text="{{ contact.group | toUpperCase }}"
            ></Label>
          </StackLayout>
          <Image
            class="imageCss"
            [src]="contact.cardImage | createSource"
            stretch="aspectFill"
            id="card"
          ></Image>
        </StackLayout>

        <StackLayout class="info-container">
          <StackLayout class="title-container">
            <Label
              class="main-text"
              text="{{ contact.name.displayname }}"
            ></Label>
            <Label
              class="secondary-text"
              text="{{ contact.organization.jobTitle | toUpperCase }}"
            ></Label>
          </StackLayout>

          <StackLayout class="info-box">
            <Label class="secondary-text" text="COMPANY"></Label>
            <Label
              class="main-text"
              text="{{ contact.organization.name }}"
            ></Label>
          </StackLayout>

          <StackLayout class="info-box">
            <Label class="secondary-text" text="MOBILE"></Label>
            <Label
              class="main-text"
              text="{{ contact.phoneNumbers[0] }}"
            ></Label>
          </StackLayout>

          <StackLayout class="info-box">
            <Label class="secondary-text" text="EMAIL"></Label>
            <Label class="main-text" text="{{ contact.emailAddress }}"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
    <StackLayout class="bottom-menu" row="1" orientation="horizontal">
      <Button
        (tap)="shareCard()"
        text="SHARE"
        height="60"
        width="100"
        class="btn btn-primary btn-active"
      >
      </Button>
      <Button
        (tap)="editCard()"
        text="EDIT"
        height="60"
        width="100"
        class="btn btn-primary btn-active"
      >
      </Button>
      <!-- <Button (tap)="removeCard()" text="REMOVE" height="60" width="100" class="btn btn-primary btn-active">
                        </Button> -->
    </StackLayout>
  </GridLayout>
</RadSideDrawer>
