$toc-letter-spacing: 0.25;

.signUpContainer {
  margin: 7%
  }
.buttonsContainer{
  margin-top: 2%;
}
.label {
  color: white;
  opacity: 0.7;
  font-size: 14px;
}
TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #ededed;
    margin-bottom: 2%;
    height: 11%;
}
.cancel{
  color: white;
  margin-top: 17px;
}

.toc{
  margin-top: 7px;
  color: white;
  font-size: 9px;
  horizontal-align:center;
  .toc-text{
    letter-spacing: $toc-letter-spacing;
    horizontal-align:center;
  }
  .toc-navigate-no-underline{
    letter-spacing: $toc-letter-spacing;
  }
  .toc-navigate {
    letter-spacing: $toc-letter-spacing;
    text-decoration: underline;
  }
}