.signUpContainer{margin:7%}.buttonsContainer{margin-top:2%}.label{color:white;opacity:0.7;font-size:14px}TextField{border-width:0 0 1 0;border-bottom-color:#ededed;margin-bottom:2%;height:11%}.cancel{color:white;margin-top:17px}.toc{margin-top:7px;color:white;font-size:9px;horizontal-align:center}.toc .toc-text{letter-spacing:.25;horizontal-align:center}.toc .toc-navigate-no-underline{letter-spacing:.25}.toc .toc-navigate{letter-spacing:.25;text-decoration:underline}
