<StackLayout class="signUpContainer">
  <Label class="spacer" text=" "></Label>
  <Label class="label" text="FULL NAME"></Label>
  <TextField
    class="inputElements"
    [(ngModel)]="fullname"
    autocorrect="false"
    autocapitalizationType="none"
    style="color:white;"
  >
  </TextField>
  <Label class="label" text="EMAIL"></Label>
  <TextField
    class="inputElements"
    keyboardType="email"
    [(ngModel)]="email"
    autocorrect="false"
    autocapitalizationType="none"
    style="color:white;"
  >
  </TextField>
  <Label class="label" text="PASSWORD"></Label>
  <TextField
    class="inputElements"
    secure="true"
    [(ngModel)]="password"
    autocorrect="false"
    autocapitalizationType="none"
    style="color:white;"
  >
  </TextField>
  <StackLayout class="buttonsContainer">
    <Button class="signInSignUp" text="SIGN UP" (tap)="signUp()"></Button>
    <Button class="cancel" text="CANCEL" (tap)="cancel()"></Button>
  </StackLayout>
  <StackLayout class="toc">
    <Label class="toc-text" text="BY CLICKING 'SIGN UP' &#xA;"></Label>
    <StackLayout orientation="horizontal">
      <Label
        class="toc-navigate-no-underline"
        text="I AGREE TO RECARDING'S "
      ></Label>
      <Label
        class="toc-navigate"
        text="TERMS OF SERVICE"
        (tap)="showToC()"
      ></Label>
    </StackLayout>
  </StackLayout>
</StackLayout>
