.action-bar {
  background-color: white;
  color: black;
  // border-bottom:5px;
  // border-bottom-color: rgb(31, 191, 180);
}

.listViewContainer{
  height:100%;
}

.back{
 width:10px;
}

.groupsDropdown {
  padding-left: 50%;
  font-weight: 600;
}

.text {
  font-size: 14px;
  color: rgb(69,208,197);
}
.numbers {
  horizontal-align: center;
  padding-right: 30%;
  color: rgb(187,187,187);
  font-size: 12px;
}