<ActionBar class="action-bar">
  <ActionItem
    icon="res://navigation/back_arrow_black"
    android:visibility="collapsed"
    (tap)="back()"
    ios.position="left"
  >
  </ActionItem>
  <ActionItem
    icon="res://icons/button_search"
    android:visibility="collapsed"
    (tap)="showSearchField()"
    ios.position="right"
  >
  </ActionItem>

  <ActionItem visibility="{{ showSearch ? 'visible' : 'collapse' }}">
    <SearchBar
      #searchField
      hint="search"
      [text]="searchPhrase"
      (textChange)="filterContacts($event)"
      (submit)="filterContacts($event)"
      color="black"
    ></SearchBar>
  </ActionItem>

  <ActionItem visibility="{{ showGroupsDropdown ? 'visible' : 'collapse' }}">
    <StackLayout class="groupsDropdown" (tap)="dropdownSelectGroup()">
      <StackLayout class="text" orientation="horizontal">
        <Label text="ALL CATEGORIES   "></Label>
        <Image src="res://icons/expand_arrow" width="30" height="20"></Image>
      </StackLayout>
      <Label class="numbers" text="{{ numberOfGroups + ' result(s)' }}"></Label>
    </StackLayout>
  </ActionItem>
</ActionBar>

<RadSideDrawer
  #drawer
  showOverNavigation="true"
  [drawerTransition]="sideDrawerTransition"
>
  <StackLayout tkDrawerContent>
    <MyDrawer [selectedPage]="'My contacts'"></MyDrawer>
  </StackLayout>

  <StackLayout class="page page-content" tkMainContent>
    <ListView class="listViewContainer" [items]="contactList">
      <ng-template let-item="item" let-i="index">
        <Contact-Preview
          [contact]="contactList[i]"
          [index]="i"
          [type]="type"
        ></Contact-Preview>
      </ng-template>
    </ListView>
  </StackLayout>
</RadSideDrawer>
