.action-bar{background-color:white;color:black}.listViewContainer{height:100%}.back{width:10px}.groupsDropdown{padding-left:50%;font-weight:600}.text{font-size:14px;color:#45d0c5}.numbers{horizontal-align:center;padding-right:30%;color:#bbb;font-size:12px}
