// Custom common variables
@import '../../app-variables';

$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer-list-item {
    padding-left: $sidedrawer-list-item-offset-left;
    Label {
        vertical-align: center;
        color: white;
    }
    .fa {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
    }
    &.selected {
        Label {
            border-color: rgb(255,128,0);
            border-width: 0 0 0 10px;
        }
    }
}