<GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isSelected" (tap)="onNavItemTap(route)">
    <Label col="0" [text]=" " ></Label>
    <Label col="1" [text]="title" class="p-r-10"></Label>
</GridLayout>