.sidedrawer-list-item{padding-left:15}.sidedrawer-list-item Label{vertical-align:center;color:white}.sidedrawer-list-item .fa{width:20;margin-right:10}.sidedrawer-list-item.selected Label{border-color:#ff8000;border-width:0 0 0 10px}
